@import url(../vendor/fonts/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/footer/footer.css);

@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__title/_h1/header__title_h1.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__subtitle/_text/header__subtitle_text.css);
@import url(../blocks/header/__subtitle/_text/_arrow/header__subtitle_text_arrow.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__header-image/header__header-image.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__brief/_h4/two-columns__brief_h4.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__paragraph/_p/two-columns__paragraph_p.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/__h2/section-title__h2.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);

@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/__h3/section-subtitle__h3.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../blocks/section-subtitle/_margin/section-subtitle_margin.css);

@import url(../blocks/table/table.css);
@import url(../blocks/table/__theme/table_theme_dark.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__cell/_margin/table__cell_margin.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__heading/_theme/table__heading_theme_dark.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/__text/_theme/table__text_theme_dark.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/_header/logo_place_header.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__title/_h4/cards__title_h4.css);
@import url(../blocks/cards/__text/cards__text.css);
@import url(../blocks/cards/__text/_p/cards__text_p.css);

@import url(../blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/resources/__link/resources__link.css);
@import url(../blocks/resources/__logo/resources__logo.css);

@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__author/_p/footer__author_p.css);
@import url(../blocks/footer/__column-heading/_text/footer__column-heading_text.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__columns/_content/_copyright/footer__columns_content_copyright.css);
@import url(../blocks/footer/__column-link/_margin/footer__column-link_margin.css);
@import url(../blocks/footer/__column-link/_a/footer__column-link_a.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);

@import url(../blocks/video/video.css);
@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/video/__iframe/video__iframe.css);

@import url(../blocks/oakley/oakley.css);

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__title/_h2/feynman__title_h2.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__subtitle/_h3/feynman__subtitle_h3.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__link/_detail/feynman__link_detail.css);
@import url(../blocks/feynman/__illustration/feynman__illustration.css);

@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__container/khan__container.css);
@import url(../blocks/khan/__author/khan__author.css);
@import url(../blocks/khan/__title/khan__title.css);
@import url(../blocks/khan/__quote/khan__quote.css);
@import url(../blocks/khan/__quote/_p/khan__quote_p.css);
@import url(../blocks/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/__quote-author-subline/_p/khan__quote-author-subline_p.css);
@import url(../blocks/khan/__book-container/khan__book-container.css);
@import url(../blocks/khan/__book-pic/khan__book-pic.css);
@import url(../blocks/khan/__buy-link/khan__buy-link.css);

@import url(../blocks/rotation/rotation.css);
@import url(../blocks/kaufman/__triangle/triangle.css);
