.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  display: flex;
  width: 730px;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 64px;
  z-index: 2;
}
